html {
    background-color: rgb(155, 155, 155);
}
body {
    margin: 0 auto;
}
#NavHeader {
    text-align: center;
}
h1 {
    text-align: center;
}
#HeadImg {
    text-align: center;
    width: 225px;
}
#OwnerName {
    font-weight: bold
}
li {
    text-align: match-parent;
}