.NavigationHeader {
    text-align: center;
    border-bottom: 5px solid #000;
    background: linear-gradient(0deg,#060,#0b0);
    flex-direction: column;
    padding: 20px 20px;
}
.NavigationIcon{
    height: 20px;
    vertical-align: center;
    float: left;
    margin: auto auto;
}
.NavigationHeaderButton{
    text-align: center;
    color: #000;
    border: 2px solid #fff;
    background-color: #9b9b9bb7;
    padding: 5px 30px;
}
.NavigationHeaderButton:hover{
    color: #fff;
}
.NavigationHeaderButton:active{
    color: #0f0;
}
.Article{
    margin: 20px 5%;
}
.subcaption{
    font-size: 10px;
}
.footer{
    font-size: 12px;
}
body {
    margin: 0 auto;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
img {
    display: block;
    margin: auto;
}
figure {
    display: block;
    margin: auto;
    overflow: hidden;
}
figcaption {
    background-color: #222;
    max-width: 100%;
    min-height: 10px;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    margin: auto auto;
}