html {
    background-color: rgb(155, 155, 155);
}

body {
    margin: 0 auto;
}
#imgPlane {
    width: 750px;
    display: block;
    margin: 0 auto;
}
/*#imgPlane:hover {
    width: 1000px
}*/
#somehow {
    font-size: 8px;
}