html {
    background-color: rgb(155, 155, 155);
}

#imgPlane {
    width: 750px;
    display: block;
    margin: 0 auto;
}
#somehow {
    font-size: 8px;
}
p {
    text-align: center;
}